<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/Farmacia.css">
    <title>Análise</title>
</head>

<body>
    <nav id="barra">
        <div class="navbar">
            <div class="container nav-container">
                <input class="checkbox" type="checkbox" name="" id="" />
                <div class="hamburguer-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <div class="logo">
                    <h1>Farmácia</h1>
                </div>
                <div class="menu-items">
                    <center>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Receita</a></li>
                        <li><a href="#">Remédios</a></li>
                        <li><a href="#">Contato</a></li>
                    </center>
                    <center>
                        <div class="devby">Dev by Islan</div>
                    </center>
                    <div id="corpo_icones ">
                        <ul class="wrapper">
                            <li class="icon facebook">
                                <a href="https://www.facebook.com/"><img id="imagem" src="/img/facebook logo2.png"
                                        alt=""></a> <span class="tooltip">Facebook</span>
                                <span><i class="fab fa-facebook-f"></i></span>
                            </li>
                            <li class="icon twitter">
                                <a href="https://twitter.com/"><img id="imagem2" src="/img/twitter logo.png" alt=""></a>
                                <span class="tooltip">Twitter</span>
                                <span><i class="fab fa-twitter"></i></span>
                            </li>
                            <li class="icon instagram">
                                <a href="https://www.instagram.com/"><img id="imagem3" src="/img/instagram.png"
                                        alt=""></a> <span class="tooltip">Instagram</span>
                                <span><i class="=fab fa-instagram"></i></span>
                            </li>

                            <li class="icon github">
                                <a href="https://github.com/"><img id="imagem4" src="/img/github logo2.png"
                                        alt=""></a><span class="tooltip">Github</span>
                                <span><i class="fab fa-github"></i></span>
                            </li>

                            <li class="icon youtube">
                                <a href="https://www.youtube.com/"><img id="imagem5" src="/img/youtube logo.png"
                                        alt=""></a><span class="tooltip">Youtube</span>
                                <span><i class="fab fa-youtube"></i></span>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </nav>
</body>